@use "../abstracts/colours" as c;

#hero {
    position: relative;
    background-image: url(../../../dist/img/e8-full-hero-bg.png);
    background-size: contain;
    background-position: 465px top;
    background-repeat: no-repeat;
    height: 90vh;

    h1 {
        font-size: 6rem;
        line-height: 1;
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.5rem;
        max-width: 510px;
        margin-bottom: 3.5rem;

        span {
            border-bottom: 2px solid c.$brand-gold;
            font-weight: 500;
        }
    }

    .btn {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 40px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px; /* Adjust height for desired shadow size */
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Adjust shadow properties */
        border-bottom: 1px solid c.$light-grey;
    }

    @media (max-width: 576.98px) {
        background-position: 30px top;
        height: 265px;
    }
}
