@use "../abstracts/colours" as c;

.navbar {
    background-color: transparent;

    .nav-link {
        letter-spacing: -1px;
        font-weight: 500;
        border-bottom: 2px solid c.$brand-gold;
        text-transform: uppercase;
        margin-right: 1rem;
    }
}
