@use "../abstracts/colours" as c;

.navbar {
    background-color: c.$white;

    .navbar-brand {
        img {
            width: 200px;
        }
    }

    .nav-link {
        letter-spacing: -1px;
        font-weight: 600;
        text-transform: uppercase;
        margin-right: 1rem;
    }

    @media (max-width: 576.98px) {
        .navbar-brand {
            img {
                width: 120px;
            }
        }
    }
}
