@use "../abstracts/colours" as c;
@use "../abstracts/fonts" as f;

.box {
    background: linear-gradient(to bottom, transparent, #eeeeee);
    background-repeat: no-repeat;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px; /* Adjust height for desired shadow size */
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Adjust shadow properties */
        border-bottom: 1px solid c.$light-grey;
    }

    .padding {
        padding-left: 5rem;

        @media (max-width: 576.98px) {
            padding-left: 12px;
        }
    }

    a {
        color: c.$brand-red;
        transition: all 0.5s;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: c.$brand-dark-gold;
        }
    }

    .btn {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 40px;
        color: white;

        &:hover,
        &:focus,
        &:active {
            color: white;
        }

        @media (max-width: 576.98px) {
            display: block;
            margin: 0 auto;
        }
    }

    #what,
    #why,
    #who,
    #how,
    #projects,
    #talk {
        padding-top: 6rem;
        padding-bottom: 6rem;

        h2 {
            position: relative;
            font-size: 3.5rem;
            margin-bottom: 2.5rem;
        }

        h3 {
            font-family: f.$font-open-sans;
            font-size: 2.5rem;
            color: darken(c.$light-grey, 40%);
            margin-bottom: 2rem;
        }

        p {
            &:last-of-type {
                margin-bottom: 2rem;
            }
            max-width: 600px;
        }

        @media (max-width: 576.98px) {
            padding-top: 3rem;
            padding-bottom: 3rem;

            h2 {
                font-size: 2.5rem;
            }

            h3 {
                font-size: 1.7rem;
                text-align: center;
                max-width: 300px;
                margin: 0 auto 2rem auto;
            }

            p {
                text-align: justify;
            }
        }
    }

    // Customisations
    #talk {
        padding-bottom: 0;

        h2 {
            margin-bottom: 0;
        }

        p {
            max-width: none;
        }

        @media (max-width: 576.98px) {
            padding-bottom: 3rem;
        }
    }

    #what {
        h2 {
            margin-bottom: 1rem;
        }

        p {
            &:last-of-type {
                margin-bottom: 5rem;

                @media (max-width: 576.98px) {
                    text-align: center;
                    margin-bottom: 3rem;
                }
            }

            max-width: 500px;
            margin: 0 auto;
        }

        .box {
            background: white;
            border: 1px solid darken(c.$light-grey, 5%);
            border-radius: 5px;
            padding: 5rem;

            h3 {
                font-weight: 600;
            }

            &:after {
                box-shadow: none;
            }

            .box-img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                border: 1px solid darken(c.$light-grey, 5%);
                border-radius: 50%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin: 0 auto 1.5rem auto;

                svg {
                    stroke: c.$brand-red;
                }
            }

            h3 {
                font-size: 1.3rem;
                margin-bottom: 0;
            }

            @media (max-width: 576.98px) {
                padding: 1rem;

                h3 {
                    font-size: 1.1rem;
                }
            }
        }
    }

    #projects {
        h2 {
            margin-bottom: 1rem;
        }

        p {
            &:last-of-type {
                margin-bottom: 5rem;

                @media (max-width: 576.98px) {
                    text-align: center;
                    margin-bottom: 3rem;
                }
            }

            max-width: 400px;
            margin: 0 auto;
        }
    }
}
