@use "../abstracts/colours" as c;

#backToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid white; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: c.$brand-red; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%; /* Rounded corners */
    opacity: 0; /* Start invisible */
    transition: all 0.5s;

    svg {
        stroke: white;
    }

    &.show {
        display: block; /* Ensure the button takes space */
        opacity: 1; /* Fade in */
    }

    &:hover {
        background-color: darken(c.$brand-red, 5%);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Adjust shadow properties */
    }
}
