@use "../abstracts/colours" as c;

footer {
    background-color: darken(c.$light-grey, 10%);
    padding: 6rem 0;

    ul {
        li {
            a {
                color: rgba(0, 0, 0, 0.65);
                letter-spacing: -1px;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
                transition: all 0.3s;

                &:hover,
                &:active,
                &:focus {
                    color: c.$brand-dark-gold;
                }
            }
        }
    }

    @media (max-width: 576.98px) {
        padding: 3rem 0;
    }
}
